.placeholder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.subtitle {
  font-size: 15px;
  color: var(--secondary);
}
